In [34]:
import pandas as pd
import numpy as np

In [35]:
data=pd.read_csv("spam.csv", encoding="latin-1")

In [36]:
data.sample()

       v1                          v2 Unnamed: 2 Unnamed: 3 Unnamed: 4
4521  ham  DO U WANT 2 MEET UP 2MORRO        NaN        NaN        NaN

In [37]:
data.head(3)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN

In [38]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [39]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [40]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [41]:
data["v1"]=data["v1"].map({'ham':0,'spam':1})

In [42]:
data.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

In [44]:
cv=CountVectorizer()

In [45]:
x=data['v2']
y=data['v1']

In [46]:
x.shape

(5572,)

In [47]:
y.shape

(5572,)

In [48]:
x=cv.fit_transform(x)

In [49]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

1. The Cat
2. The Dog
3. The Bird

   The Cat Dog Bird
1.  1   1   0   0
2.  1   0   1   0
3.  1   0   0   1

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [52]:
x_train.shape

(4457, 8672)

In [53]:
from sklearn.naive_bayes import MultinomialNB

In [54]:
model=MultinomialNB()

In [55]:
model.fit(x_train, y_train)

MultinomialNB()

In [56]:
result=model.score(x_test,y_test)

In [57]:
result=result*100

In [58]:
result

98.38565022421525

In [59]:
import pickle

In [60]:
pickle.dump(model, open("spam.pkl","wb"))

In [61]:
 pickle.dump(cv, open("vectorizer.pkl","wb"))

In [62]:
clf=pickle.load(open("spam.pkl","rb"))

In [63]:
clf

MultinomialNB()

In [64]:
msg="You win 10 Dollar"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[1]

###[1] here means it is a spam mail.

In [65]:
msg="My name is Mayadhar Yadav"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]

###[0] here means it is a ham mail.

In [66]:
vect

array([[0, 0, 0, ..., 0, 0, 0]], dtype=int64)